.navbar {
    background-color: #23120B;
}

.navbar-logo {
    width: 190px;
}

body .carousel .carousel-inner .carousel-item {
    height: 100vh;
}

.carousel-fade .carousel-item {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;

    animation: fadeInAnimation ease-in 0.7s;
}

video {
    object-fit: cover;
    position: fixed;
    width: fit-content;
    height: 100%;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}